<!DOCTYPE html>
<html>
<head>
	<title>To Do List</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<task-list :tasks="tasks"></task-list>
	</div>

	<script type="text/html" id="task-list">
		<section class="tasks">
		<div class="container">
			<div class="row">
				<h1>Tasks <transition name="fade"> <small v-if="incomplete">({{ incomplete }})</small></transition></h1>
			</div>
			<div class="row">
				<div class="btn-group mr-2" role="group">
					<button class="btn btn-secondary" @click="clearCompleted">
						<i class="fa fa-check"></i> Clear Completed
					</button>
					<button class="btn btn-secondary" click="clearAll">
						<i class="fa fa-trash"></i> 
						Clear All
					</button>
				</div>
			</div>
			<div class="row">

			</div>
			<div class="row">
				<ul class="list-group">
					<task-item v-for="(task, index) in tasks" @remove="removeTask(index)" @complete="completeTask(task)" :task="task" :key="task"></task-item>
					<li class="list-group-item">
						<div class="input-group mb-3">
							<input
							type="text"
							class="form-control"
					v-model="newTask"
					@keyup.enter="addTask"
					placeholder="New task"
					>
					<div class="input-group-append">
						<button @click="addTask" class="btn btn-outline-secondar">
							<i class="fa fa-plus"></i>
							Add
						</button>
					</div>
				</div>
					</li>
				</ul>
			</div>
		</div>
		</section>
	</script>
	<script type="text/html" id="task-item">
		<li class="list-group-item">
			<div class="input-group">
				<input v-model='task.title' type="text" class="form-control border-primary" :class="className" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<div class="btn-group" role="group">
						<div class="input-group-text">
							<input type="checkbox" v-model='task.completed' aria-label="Radio button for following text input">
						</div>
						<button class="btn btn-danger" type="button" @click="$emit('remove')">
						<i class="fa fa-times"></i>
					</button>
					</div>
				</div>
			</div>
		</li>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>