<!DOCTYPE html>
<html>
<head>
	<title>To Do List</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<task-list :tasks="tasks"></task-list>
	</div>

	<script type="text/html" id="task-list">
		<section class="tasks">
		<div class="container jumbotron">
			<div class="row">
				<h2>To Do</h2>
			</div>
			<div class="row">

				<ul class="nav nav-pills">
					 <li class="nav-item">
    				  	<select v-model="filter" class="custom-select">
    				  		<option value="all">All Task</option>
    				  		<option value="progress">In Progress Tasks</option>
    				  		<option value="complete">Completed Tasks</option>
    				  	</select>
    				  </li>
    				  <li class="nav-item dropdown">
    				  	<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clear</a>
    				  	<div class="dropdown-menu" style="">
    				  		<a @click="clearCompleted" class="dropdown-item"><i class="fa fa-check"></i> Clear Completed</a>
    				  		<a @click="clearAll" class="dropdown-item"><i class="fa fa-trash"></i> Clear All</a>
    				  	</div>
    				  </li>
    				</ul>
			</div>
			<div class="row">

			</div>
			<div class="row">
				<ul class="list-group">
					<task-item v-for="(task, index) in tasksFiltered" @remove="removeTask(index)" @complete="completeTask(task)" :task="task" :key="task.id"></task-item>
					<li class="list-group-item">
						<div class="input-group mb-3">
							<input
							type="text"
							class="form-control"
					v-model="newTask"
					@keyup.enter="addTask"
					placeholder="New task"
					>
					<div class="input-group-append">
						<button @click="addTask" class="btn btn-outline-secondar">
							<i class="fa fa-plus"></i>
							Add
						</button>
					</div>
				</div>
					</li>
				</ul>
			</div>

			<div class="row">
				<p>Tasks: <span v-if="taskNumber">{{taskNumber}}</span></p>
			</div>
		</div>
		</section>
	</script>
	<script type="text/html" id="task-item">
		<li class="list-group-item">
			<div class="row">
				<div col-sm>
					<div class="form-check">
						<label class="form-check-label">
							<input v-model='task.completed' class="form-check-input" type="checkbox">
						</label>
					</div>
				</div>
				<div col-sm>
					<input v-model='task.title' type="text" class="form-control" :class="className" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
				</div>
				<div col-sm>
					<button class="btn" type="button" @click="$emit('remove')">
							<i class="fa fa-trash"></i>
						</button>
				</div>
			</div>

						
		</li>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>